body{
    background-color: #1d1d1d;
    font-family: 'Roboto', sans-serif;;
    letter-spacing: -4px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.nav_text{
    color: #FFF;
    font-size: 4vw;
}

.nav_text:hover{
    color: #F15DBF;
    transition: 1s;
}

.secondary{
    color: #F15DBF;
}


.tag_text{
    color: #828282;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: normal;
    line-height: 0.8;
}

.tag_text_special{
    color: #828282;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: normal;
    line-height: 0.8;
    margin-left: 550px;
}

.tag_text_special_closing{
    color: #828282;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: normal;
    line-height: 0.8;
    margin-left: 850px;

}

.designedby_text{
    color: #FFF;
    font-size: 5vw;
    line-height: 0.8;
}

.firstname_text{
    color: #FFF;
    font-size: 10vw;
    line-height: 0.8;
}

.lastname_text{
    color: #FFF;
    font-size: 10vw;
    letter-spacing: -10px;
    line-height: 0.8;
}

.title_description_text{
    color: #FFF;
    font-size: 3vw;
    line-height: 0.8;
}

#skills {
    margin-top: 120px;
}

.chart_text{
    color: #FFF;
    font-size: 3vw;
    margin-left: 300px;
    margin-top: 4rem;
}

.skillbox{
    background: #262626;
    padding: 10px;
    box-sizing: border-box;
    width: 75%;
    margin-left: 300px;
    border: 5px solid #868686;
    border-radius: 20px;
}

.skill_level1{
    background: #F15DBF;
    width: 76%;
    height: 10px;
}

.skill_level2{
    background: #4C53FF;
    width: 45%;
    height: 10px;
}

.skill_level3{
    background: #0ECF50;
    width: 92%;
    height: 10px;
}

#projects{
    margin-top: 200px;
}

#aboutme{
    margin-top: 200px;
}

#contact{
    margin-top: 200px;
}

.contact_description{
    color: #828282;
    font-size: 2.5vw;
    font-family: 'Dancing Script', cursive;
    letter-spacing: normal;
    
}

.arrow{
    margin-top: 150px;
}

.form_text{
    color: #FFF;
    font-size: 40px;
    letter-spacing: normal;
}

.my_btn{
    color: #FFF;
    background: #F15DBF;
    font-size: 2vw;
}