body{
    background-color: #1d1d1d;
    font-family: 'Roboto', sans-serif;;
    overflow-x: hidden;
}

.custom-logo{
    height: auto;
    width: 130px;
}

.linebreak{
    border: 3px double #F15DBF;
}

a {
    text-decoration: none;
}

.nav{
    font-size: 2vw;
}

.nav > li {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
}

.nav_text{
    color: #FFF;
    font-size: 3.5vw;
    transition: .8s;
}

.nav_text:hover{
    color: #F15DBF;
    transition: .8s;
}

.secondary{
    color: #F15DBF;
}


.tag_text{
    color: #828282;
    font-size: 28px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: normal;
    line-height: 0.8;
}

.tag_text_special{
    color: #828282;
    font-size: 28px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: normal;
    line-height: 0.8;
    margin-left: 550px;
}

.tag_text_special_closing{
    color: #828282;
    font-size: 28px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: normal;
    line-height: 0.8;
    margin-left: 850px;

}

.designedby_text{
    color: #FFF;
    font-size: 5vw;
    line-height: 0.8;
}

.firstname_text{
    color: #FFF;
    font-size: 9vw;
    line-height: 0.8;
}

.lastname_text{
    color: #FFF;
    font-size: 9.5vw;
    letter-spacing: -10px;
    line-height: 0.8;
}

.title_description_text{
    color: #FFF;
    font-size: 3vw;
    line-height: 0.8;
}

.home-content{
    letter-spacing: -3px;
}

/* !Skills stylings */

.skills-and-attributes-heading{
    color: #FFF;
    font-size: 9vw;
    line-height: 0.8;
    margin-left: 60px;
}

.skills-and-attributes-image{
    text-align: center;
}

#skills {
    margin-top: 120px;
}


.skills_tag_text{
    color: #828282;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: normal;
    line-height: 0.8;
}

.skills_tag_text_special_closing{
    color: #828282;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: normal;
    line-height: 0.8;
    margin-left: 850px;
}

.chart_text{
    color: #FFF;
    font-size: 3vw;
    width: 75%;
    /* margin-left: 300px; */
    margin: auto;
    margin-top: 4rem;
}

.skillbox{
    background: #262626;
    padding: 10px;
    box-sizing: border-box;
    width: 75%;
    /* margin-left: 200px; */
    margin: auto;
    border: 5px solid #868686;
    border-radius: 20px;
}

.skill_level1{
    background: #F15DBF;
    width: 90%;
    height: 10px;
    border-radius: 20px;
}

.skill_level2{
    background: #4C53FF;
    width: 65%;
    height: 10px;
    border-radius: 20px;
}

.skill_level3{
    background: #0ECF50;
    width: 95%;
    height: 10px;
    border-radius: 20px;
}

.skill_level4{
    background: #FFF;
    width: 85%;
    height: 10px;
    border-radius: 20px;
}

.skill_level5{
    background: #FC8F03;
    width: 60%;
    height: 10px;
    border-radius: 20px;
}

/* !Project section stylings */

#projects{
    margin-top: 200px;
}

.my-work-heading{
    color: #FFF;
    font-size: 10vw;
    line-height: 0.8;
    margin-left:50px
}

.my-work-subheading{
    color: #F15DBF;
    font-size: 3vw;
    padding-top: 20px;
    margin-left:55px
}

.project_tag_text{
    color: #828282;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: normal;
    line-height: 0.8;
}

.project_tag_text_special_closing{
    color: #828282;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: normal;
    line-height: 0.8;
    margin-left: 730px;
}
/* !about me text */
#aboutme{
    margin-top: 200px;
}

.about-me-heading{
    color: #FFF;
    font-size: 8vw;
    line-height: 0.8;
    text-align: center;
}

.about-me-sub-heading {
    color: #FFF;
    font-size: 2vw;
    line-height: 0.8;
    text-align: center;
    margin-top: 40px;
}

.carousel-container{
    width: 80%;
    margin: auto;
}

.spotify-container{
    width: 80%;
    margin: auto;
}

/* !Contact stylings */
#contact{
    margin-top: 200px;
}

.contact_text{
    color: #FFF;
    font-size: 10vw;
    line-height: 0.8;
}

.contact_description{
    color: #828282;
    font-size: 2.5vw;
    font-family: 'Dancing Script', cursive;
    letter-spacing: normal;
    
}

.arrow{
    margin-top: 150px;
}

.form_text{
    color: #FFF;
    font-size: 40px;
    letter-spacing: normal;
}

.my_btn{
    color: #FFF;
    background: #F15DBF;
    font-size: 2vw;
}

#portfolio-tiles{
    margin-top: 15px;
}

.portfolio-container{
    width: 70%;
    margin: auto;
}

.portfolio-item{
    background-color: #1d1d1d;
    width: 100%;
    height: auto;
    z-index: 1;
}

.img-background{
    opacity: 0.5;
    width: 100%;
    height: auto;
    transition: 0.3s;
}

.portfolio-item > a :hover{
    opacity: 0.95;
    transition: 0.3s;
}


/* !Mobile stylings */
@media screen and (min-width: 279px) and (max-width: 759px){
    
    .mobileOnly{
        display: none;
    }
    
    body {
        letter-spacing: normal;
    }

    .designedby_text{
        font-size: 40px;
        
    }

    .name-row{
        order: 2;
    }

    .nav_text{
        font-size: 4.5vw;
        text-align: right;
    }

    .home-content{
        letter-spacing: 0px;
    }

    .firstname_text{
        font-size: 130px;
        letter-spacing: -10px;
    }

    .lastname_text{
        font-size: 82px;
        letter-spacing: -10px;
        text-align: center;
    }

    .title_description_text{
        font-size:20px;
        line-height: 1;
    }

    .ms-5{
        margin-left: 0px !important; 
        
    }

    .mt-4{
        margin-top: 0px!important;
    }

    .skills_tag_text{
        color: #828282;
        font-size: 10px;
        font-family: 'Dancing Script', cursive;
        letter-spacing: normal;
        line-height: 0.8;
        margin-left: 50px !important;
    }
    
    .skills_tag_text_special_closing{
        color: #828282;
        font-size: 10px;
        font-family: 'Dancing Script', cursive;
        letter-spacing: normal;
        line-height: 0.8;
        margin-left: 330px !important;
    }
   
    .skills_text{
        font-size: 70px;
        text-align: center;
    }

    .lastname_text{
        letter-spacing: normal;
    }
    
    .tag_text {
        font-size: 10px;
        display: none;
    }

    .tag_text_special {
        font-size: 10px;
        margin-left: 220px!important;
        display: none;
    }

    .tag_text_special_closing {
        font-size: 10px;
        margin-left: 50%;
        display: none;
    }

    .skillbox {
        margin-left: 0px;
        padding: 3px;
        margin-left: 50px;
        border: 2px solid #868686;
        border-radius: 10px;
    }

    .chart_text {
        margin-left: 0px;
        text-align: center;
        font-size: 35px;
    }

    .projects_text{
        font-size: 80px;
        text-align: center !important;
        
    }

    .project_title_description_text{
        font-size: 25px;
        text-align: center;
    }

    .project_tag_text{
        font-size: 10px;
        letter-spacing: normal;
        line-height: 0;
        margin-left: 15px!important;
    }
    
    .project_tag_text_special_closing{
        font-size: 10px;
        letter-spacing: normal;
        line-height: 0.1;
        margin-left: 330px!important;
    }

    .aboutme_text{
        font-size: 60px;
        line-height: 0.8;
    }
    
    .aboutme_description_text {
        font-size: 10px;
        line-height: 0.8;
    }
    

    .contact_text{
        text-align: center;
        font-size: 60px;
        line-height: 0.8;
    }
    
    .contact_description{
        font-size: 10px;
        font-family: 'Dancing Script', cursive;
        letter-spacing: normal;
        
    }

    .form_text{
        font-size: 15px;
    }

    .my_btn{
        font-size: 35px;
    }

    .noMobile{
        display: none;
    }

}

/* ! Tablet Styling */

@media screen and (min-width:760px) and (max-width: 1023px) {

    body {
        letter-spacing: normal;
        margin-left: 0px;
    }

    .firstname_text{
        letter-spacing: normal;
    }

    .lastname_text{
        letter-spacing: normal;
    }
    
    .tag_text {
        font-size: 10px;
    }

    .tag_text_special {
        font-size: 10px;
    }

    .tag_text_special_closing {
        font-size: 10px;
    }

}

/* Media Queries for Nest Hub */
@media screen and (min-width:1024px) and (max-width:1153px){

}

/* Media Queries for Nest Hub MAX*/

@media screen and (min-width: 1154px) and (max-width: 1340px){
    
}